header {
    background-color: #B0E0FD;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}
.logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
nav {
    display: flex;
   justify-content: space-around;
   }

nav a {
   text-align: center;
   color:#006494;
   text-decoration: none;
   margin-left: auto;
   margin-right: auto;
   padding: 35px;
   font-family: "Rock Salt";
}
nav a:hover {
   color: #051923;
   }