@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #003554   ;
    --secondary-color: #B0E0FD ;
    --accent1-color: #35393c;
    --accent2-color: #006494;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Rock Salt";
    --paragraph-font: Roboto, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #003554;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #006494; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #5da399; /* paragraph text on a colored background */ 
    --paragraph-background-color: #006494  ;
    --nav-link-color: #396E94;
    --nav-background-color: #b0e0fd;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #006494;
  }
  